* {
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 900px;
    height: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 30px;
    align-items: center;
    margin: 30px;
}

.menu > img {
    flex: 1 1 200px;
    max-width: 200px;
    min-width: 100px;
    height: auto;
}

.page-links {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: plum;
    font-weight: 700;
}

.header {
    padding-top: 30px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px;
}

.left-header-bin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

h1 {
    color: white;
}

p {
    color: lightgray;
    max-width: 300px;
}

button {
    box-shadow: none;
    background-color: lightcoral;
    color: white;
    width: 150px;
    height: 30px;
}

button:hover {
    background-color: coral;
}

.right-header-bin > img {
    width: 300px;
    height: auto;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

h2 {
    color: coral;
    font-weight: 700;
}

.team-bin {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.team-member {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.team-member > img {
    border-radius: 10px;
    border-color: lightcoral;
    border-width: 3px;
    border-style: solid;
    width: 150px;
    height: auto;
}

.team-member > p {
    text-align: center;
    color: gray;
}

.section-3 {
    display: flex;
    background-color: lightgray;
    width: 100%;
}

.quote-bin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 30px;
}

h3 {
    color: black;
    font-weight: 200;
    text-align: left;
}

h4 {
    color: black;
    font-weight: 700;
    align-self: flex-end;
}

.section-4 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.CTA-bin {
    display: flex;
    background-color: coral;
    border-radius: 15px;
    gap: 10px;
    justify-content: space-around;
    padding: 25px;
    margin: 30px;
}

.left-CTA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

h5 {
    color: white;
    font-weight: 600;
}

.left-CTA > p {
    color: white;
}

.right-CTA > button {
    background-color: coral;
    border-width: 5px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: white;
}

.right-CTA > button:hover {
    background-color: white;
    color: coral;
}

.footer {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer > p {
    color: white;
    font-weight: 400;
}
